/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
body {
    font-family: "sans-serif";
    background-color: lightgreen;
    font-size: 2vh;
}

.button {
  display: inline-block;
  border-radius: 25px;
  background-color: seagreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 2vh;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10vh 0 0 0;
}

img{
    max-height: 40vh;
    max-width: 40vh;
    border-radius: 20px;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div > .item {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar {
    overflow: hidden;
    background-color: lightgreen;
    /*position: fixed;*/
    text-align: left;

}

.navbar a {
    border-radius: 25px;
    padding: 2vh;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: lightgreen;
}

.info {
    margin: 3vh 0 0 0;
    color: seagreen;
    margin: 1vh;
}